<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span>
    </button>
    <strong>{{t 'tools.prefix'}}</strong> {{t 'tools.promote.desc'}}
</div>

<div class="panel panel-default ">
    <div class="panel-body">
        Coming soon...
    </div>
</div>