/*
* for onecoin.im
*/
body {
  background: #bebebe;
}

.fl, .fr {
  display: inline;
  float: left;
}

.fr {
  float: right;
}

a:active, a:hover {
  color: #ff6600;
  text-decoration: underline;
}

a, a:link {
  color: #666;
  text-decoration: none;
}

.alert {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 0;
}

//home
.header {
  height: 160px;
  background: #4c7298;
  float: none;
  .wrap {
  }
  .user_img {
    float: left;
    margin: 60px 20px 0 0;
    img {
      border-left: none;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -khtml-border-radius: 50px;
    }
  }
  .blog_title {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    padding-top: 70px;
  }
  .blog_motto {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  .write {
    float: right;
    color: #fff;
    text-align: right;
    a {
      color: #fff;
      margin-left: 8px;
      margin-right: 8px;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      padding-left: 16px;
    }
    a:hover {
      background: url(images/y.png) 0px -270px no-repeat;
      color: #f87b00;
    }
    input {
      background: none;
      border: none;
      color: #fff;
      background: url(images/y.png) 0px -716px no-repeat;
      padding-left: 20px;
    }
    input:hover {
      color: #f60;
      background: url(images/y.png) 0px -746px no-repeat;
      text-decoration: underline;
      cursor: pointer;
    }
    form {
      display: inline;
    }
    .admin {
      background: url(images/y.png) -3px -980px no-repeat;
    }
    .admin:hover {
      background: url(images/y.png) -3px -1010px no-repeat;
    }
  }

}

/*nav*/
.navbar-nav > li > a {
  padding: 15px 25px;
}

.menu {
  font-size: 14px;
  background: url('images/x.png') 0 0;
  height: 53px;
  a {
    font-size: 16px;
    height: 48px;
    padding: 15px 20px;
    text-align: left;
    line-height: 15px;
    color: #666;
    &:hover {
      border-bottom: 3px solid #69c;
      color: #333;
      text-decoration: none;
    }
  }

  //修改 .dropdown-menu li a{}
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: inherit;
    float: left;

    a {
      padding: 15px 20px;
      line-height: 15px;
    }
  }

  .current {
    border-bottom: 3px solid #69c;
    color: #333;
    font-weight: bold;
  }
  .search {
    height: 45px; /*background:url(x.png) 0 -60px;*/
    padding-top: 8px;
  }
  input {
    background: #fff;
    border: 1px #ccc solid;
    border-right: none;
    height: 30px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    padding: 0 10px;
    height: 30px;
    width: 189px;
    float: left;
  }
  button {
    background: #fff url(images/y.png) 3px 5px no-repeat;
    border: 1px #ccc solid;
    border-left: none;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 32px;
  }
  button:hover {
    background: #fff url(images/y.png) 3px -35px no-repeat;
  }
}

//content
.notes-content, .tools-content {
  padding: 70px 20px;
}

/*
* Blog块
* .con
*/
.panel-default {
  border-color: #fff;

  //.title
  .panel-heading {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    font-weight: bold;
  }
  .panel-body {
    .tags {
      margin-top: -10px;
      margin-bottom: 10px;

      a.tag {
        display: inline-block;
        width: auto;
        height: 19px;
        overflow: hidden;
        padding: 0px 0px 0px 20px;
        background: url('images/x.png') no-repeat scroll 0px -130px transparent;
        color: #B77B1B;
        line-height: 19px;
        font-weight: normal;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
        vertical-align: middle;
        margin-right: 8px;

        span {
          display: inline-block;
          width: auto;
          height: 19px;
          overflow: hidden;
          padding: 0px 10px 0px 0px;
          background: url('images/x.png') no-repeat scroll right -160px transparent;
        }
      }
    }
  }

  /*.info*/
  .panel-footer {
    background: #e9e9e9;
    border-top: 1px solid #eee;
    padding: 10px 40px 10px 40px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;

    .author, .time, .edit, .views, .comment {
      background: url('images/y.png') no-repeat scroll 0% 0% transparent;
      color: #999;
      margin-left: 5px;
      padding-left: 18px;
    }

    .author {
      background-position: 0px -923px;
    }

    .edit {
      background-position: 0px -363px;
    }

    .views {
      background-position: 0px -483px;
    }

    .comment {
      background-position: 0px -423px;
      padding: 0px 0px 0px 18px;
    }

    .time {
      background-position: 0px -303px;
    }
  }
}

.left {
  margin-top: 30px;

  .comment {

    h2 {
      font-size: 18px;
      font-weight: bold;
      border-bottom: 2px solid #DDD;
      padding-bottom: 3px;
      margin-bottom: 10px;
    }

    .user_img {
      float: left;
      margin-right: 20px;
      width: 40px;
      height: 40px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }

    .cot_con {
      float: left;

      .info {
        padding: 0px;
        border: medium none;
        background: none repeat scroll 0% 0% transparent;

        .user_name {
          font-size: 14px;
          font-weight: bold;
        }

        .time {
          background-position: 0px -303px;
        }
      }
    }

    ul {
      padding: 0px 0px 0px 20px;
      list-style: none;

      li {
        border-bottom: 1px solid #EEE;
        padding: 15px 0px;
      }
    }
  }

}

.right {
  background: url('images/x.png') repeat-x scroll 0px -995px #FFF;
  margin-top: -5px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 2px #999;

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid #DDD;
  }

  .hot_blog {
    line-height: 18px;
    margin-bottom: 30px;

    a {
      display: block;
      margin-bottom: 18px;
    }
  }

  .comment {
    word-break: break-all;

    li {
      border-bottom: 1px dotted #ddd;
      margin-bottom: 15px;
      padding-bottom: 5px;
      .bold {
        font-weight: bolder;
      }
    }

    a {
      color: #369;
    }
  }
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.em-tab-list {
  background-color: #337ab7;
  color: #fff;
}

.em-tab[active=true] {
  background-color: white;
  color: black;
}

fieldset.account {
  .title {
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
  }
  .step {
    color: #d58512;

    label {
      margin: 20px 5px 20px 40px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      color: #f5f5f5;
      background-color: #d58512;
      font-weight: bolder;
      text-align: center;
    }
  }

  .email, .signup {
    width: 21.4%;
    margin-right: -30px;
    border-right: 0;
  }

  .form-control {
    padding-right: 0;
  }

  .input-group-addon {
    padding: 2px;
    background-color: inherit;
    border: 0;
    border-radius: 0;
  }
}

.em-tabs {
  background-color: #FFFFFF;
  margin-top: 4px;
  .alert {
    margin: 30px 20px;
  }
}

//fix
#products, .comment, #pageContent {
  background-color: #fff;
  margin-top: 30px;
}

@media screen and (max-width: 750px) {
  #containerDiv {
    img {
      width: 100%;
    }
  }

  fieldset.account {
    .email, .signup {
      width: 56%;
      margin-right: 0;
      border-right: 0;
    }
  }

  .notes-content {
    padding: 10px 20px;
  }

  .tools-content {
    padding-top: 0;
  }
  .navbar-toggle {
    float: left;
    margin-top: 15px;
  }

  .header {
    height: 60px;

    .user_img {
      display: block;
      margin: 10px -10px 0 0;
      img {
        width: 80%;
        height: 80%;
      }
    }
    .blog_title {
      font-size: 26px;
      margin: 0 100px;
      padding-top: 15px;
    }
    .blog_motto {
      display: none;
    }
    .write {
      display: none;
    }
  }

  .menu {
    font-size: 14px;
    height: 0;
    &.open {
      visibility: visible;
      width: 8rem;
      -webkit-transition: all 350ms;
      -ms-transition: all 350ms;
      -moz-transition: all 350ms;
      -o-transition: all 350ms;
      transition: all 350ms;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;

      .collapse {
        display: block;
      }
    }

    .nav {
      padding: 2px 10px;
      height: auto;
      background-color: #6696c6;
      width: auto;
      margin-top: 0;

      a {
        font-size: 14px;
        padding: 0 3px;
        line-height: 36px;
        height: 33px;
        color: #FFFFFF;
        margin-right: 0;
        &.active {
          color: #000000;
        }
      }

      li {
        &:nth-child(4n) {
          display: none;
        }
      }
    }
  }

  .moveRight {
    -webkit-transition: all 350ms;
    -ms-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
    -webkit-transform: translate3d(8rem, 0, 0);
    -ms-transform: translate3d(8rem, 0, 0);
    -moz-transform: translate3d(8rem, 0, 0);
    -o-transform: translate3d(8rem, 0, 0);
    transform: translate3d(8rem, 0, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .footerServiceBox {
    .footerServiceDiv {
      padding-top: .15rem;
      position: fixed;
      bottom: 0rem;
      height: 2.4rem;
      z-index: 1;
      background: -webkit-linear-gradient(bottom, #890c09, #b2140d);

      .service {
        height: 2.4rem;
        line-height: 2.4rem;
        float: left;
        text-align: center;
      }

      .icon {
        -webkit-backface-visibility: hidden;
        height: 1.5rem;
        margin: auto;
        font-size: 1.5rem;
        color: #fff;
      }

      .describe {
        color: #fff;
        line-height: .8rem;
        font-size: .6rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      [class*="oncoin-icons-"] {
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

  }

  .footer {
    //margin-bottom: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  //home
  .header {

    .user_img {
      display: none;
    }
    .blog_motto {
      display: none;
    }
  }

}
