.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.left {
    margin-right: 20px;
    padding-top: 20px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0;
}

.panel-footer {
    background: #f7f7f7;
    border-top: 1px solid #eee;
    padding: 10px 40px 10px 40px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
}

.panel-default > .panel-heading {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
}

.fl, .fr {
    display: inline;
    float: left;
}

.fr {
    float: right;
}

a:active, a:hover {
    color: #ff6600;
    text-decoration: underline;
}

a, a:link {
    color: #666;
    text-decoration: none;
}