<div class="container">
    <div class="row">
        <div class="col-md-12" id="pageContent">
            <div>
                <img src="/assets/images/1150x400_stock-footage.jpg">
            </div>
            <div class="clear">&nbsp;</div>
            <h1>About</h1>

            <p></p>

            <p><strong>&nbsp;</strong></p>

            <p style="text-align:justify"><span style="color:windowtext">One is headquartered in Europe with worldwide operations. We focus on core markets such as South East Asian countries, Europe, India and Africa. The company is commited to growth and is opening new regional offices worldwide. The fast expansion is due to the growth of its traders and we have set the goal of creating a market with more than 1 million traders and issuing 2.1 bn OneCoins. </span>
            </p>

            <p style="text-align:justify"><span style="color:windowtext">OneCoin is more than just a cryptocurrency. To make it successful and unique, we have created a whole concept and universe to make One a market leader in the crypto world. We offer core financial education on crypto-currency in the OneAcademy, an online exchange, and we partner with one of the hottest and newest hybrid crypto-currencies – the Aurum coin. OneCoin uses the latest cryptographic technology and security standards and has a solid marketing concept - enhanced by the OneLife Plan. </span>
            </p>

            <p style="text-align:justify"><span style="color:windowtext">We offer a high-income opportunity with an extensive bonus program connected to the best lifestyle awards. We offer our traders a one time opportunity to profit from holding the two of the hottest and most innovative products in the emerging crypto-currency market - OneCoins and Aurum Gold Coins, an unique hybrid currency that is backed up by real and solid GOLD.</span>
            </p>

            <p><strong>&nbsp;</strong></p>

            <p style="text-align:center"><strong><em><span style="font-size:x-large">“We make it possible for everybody to access and understand the industry of virtual currency and profit through our unique online trading academy”</span></em></strong>
            </p>

            <p></p>

            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>