<div>
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <strong>Category</strong>
            <ul class="list-group">
                  <li class="list-group-item">{{category}}</li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <h1>blog</h1>

        <table>
            <tbody>
            <tr>
                <td>
                    <strong>{{title}}:</strong>
                </td>
                <td>
                  {{body}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



