<div class="container">
    <div class="row">
        <div class="col-md-12" id="pageContent">
            <div style="display: block; padding-top: 15px;">
                <img src="/assets/images/1150x400_shutterstock.jpg"
                     class="thumbnail pull-left pgImages" alt="">
            </div>
            <div class="clear">&nbsp;</div>
            <h1>A powerful Opportunity</h1>

            <p></p>

            <p class="MsoNormal" style="margin-bottom: 7.5pt; line-height: 17.25pt; background: white;">&nbsp;</p>

            <p class="MsoNormal"
               style="margin-bottom: 7.5pt; line-height: 17.25pt; text-align: justify; background: white;"><span
                    style="color: #393c40; mso-ansi-language: EN-US;"><span style="font-size: medium;">OneCoin provides a once in a lifetime opportunity, revolutionizing the business world of todays digital economy. The OneCoin concept is born out of the success of the pioneering cryptocurrency, Bitcoin. It all started back in 2009 when a new digital currency was introduced to the internet and financial world. Only in 2013 this currency has seen a 75 times increase in its starting price. It started at a price of only 0.10 USD per coin and has been traded for over 1.100 USD per coin. Through its success Bitcoin popularized cryptocurrency paved the way for more innovative and better concept. The opportunity has now opened for you to be part of the next big winner in digital currency, OneCoin. OneCoin has the ambition to become the next big cryptocurrency as it uses the latest technology, provides long term value to its investors and has a well thought through concept. This opportunity is only available through a strict by invitation basis, providing you the knowledge you need to succeed in the world of crypto-currency.</span></span>
            </p>

            <p class="MsoNormal" style="text-align: justify;"><span style="color: #393c40; font-size: medium;">By joining the One concept, you not only get the best online training on how to profit from crypto-currency, but moreover you position yourself in an unlimited revenue generating program, providing you with all the tools you need to succeed. Our training and marketing tools combined with a solid and strong educational product, enhanced by an outstanding payment plan, is why today’s entrepreneurs are joining the One Concept. We are committed to make you successful – and will provide all the support you need to grow your team and business.</span>
            </p>

            <p class="MsoNormal">&nbsp;</p>

            <p><span style="text-decoration: underline; font-size: large;"><strong
                    style="mso-bidi-font-weight: normal;"><span style="color: #393c40; mso-ansi-language: EN-US;">Maximize your OneLife&nbsp;</span></strong></span>
            </p>

            <p class="MsoNormal"><span style="font-size: medium;">&nbsp;</span></p>

            <p class="MsoNormal" style="text-align: justify;"><span style="font-size: medium;">OneLife, is all about combining business and lifestyle! When you are a member of the OneLife program, you work with a business model that has an unlimited income potential and lots of fun to be a part of. Furthermore OneLife has partnered up with the best lifestyle content, experiences that are so special, not even money can buy.</span>
            </p>

            <p class="MsoNormal"><span style="mso-ansi-language: EN-US;">&nbsp;</span></p>

            <p class="MsoNormal" style="text-align: center;"><em><span style="font-size: xx-large;"><strong
                    style="mso-bidi-font-weight: normal;"><span style="mso-ansi-language: EN-US;">“Work hard and let the One plan &nbsp;take care of the rest”</span></strong></span></em>
            </p>

            <p class="MsoNormal"><span style="mso-ansi-language: EN-US;">&nbsp;</span></p>

            <p class="MsoNormal" style="text-align: justify;"><span style="font-size: medium;">OneLife, issues OneLife vouchers to its members, that can be redeemed for luxury holidays, hotels, restaurants and experience days. Want to have an unforgettable week in Bali? Or take your family, friends and loved ones on a true life changing experience? Make sure you get in on the action and fun that OneLife provides.</span>
            </p>

            <p class="MsoNormal"><span style="mso-ansi-language: EN-US;">&nbsp;</span></p>

            <p class="MsoNormal" style="text-align: center;"><strong style="mso-bidi-font-weight: normal;"><span
                    style="mso-ansi-language: EN-US;"><em><span style="font-size: xx-large;">“The sooner you join the faster you will MAKE IT HAPPEN.”</span></em><br
                    style="mso-special-character: line-break;"> <!--[if !supportLineBreakNewLine]--><br
                    style="mso-special-character: line-break;"> <!--[endif]--></span></strong></p>

            <p class="MsoNormal" style="text-align: justify;"><span style="font-size: medium;">OneLife Points start calculating based on your join date as a member, all people who join as members after you in the total company, will earn OneLife Points for you. JOIN today and participate in the ACTION fast! </span>
            </p>

            <p class="MsoNormal"><span style="mso-ansi-language: EN-US;">&nbsp;</span></p>

            <p class="MsoNormal" style="text-align: center;"><em><span style="font-size: xx-large;"><strong
                    style="mso-bidi-font-weight: normal;"><span style="mso-ansi-language: EN-US;">“Make sure to live the life you always dreamed of and get started today”</span></strong></span></em>
            </p>

            <p class="MsoNormal">&nbsp;</p>

            <p class="MsoNormal"><strong style="mso-bidi-font-weight: normal;">
                <span style="text-decoration: underline;"><span style="mso-ansi-language: EN-US;"><span
                        style="font-size: large;">OneAwards</span><br style="mso-special-character: line-break;"> <!--[if !supportLineBreakNewLine]--><br
                        style="mso-special-character: line-break;"> <!--[endif]--></span></span></strong></p>
            <span style="font-size: medium; font-family: Calibri;">One Plan, offers all members, a unique chance for serious earning potential. We value your performance. OneAwards incentivize the success stories. We award such as Black Dimond and Double Dimond. Being part of this exclusive cirlcle comes with awards, luxury items such as Rolex watches, Cash Bonuses, and Luxury cruise holidays. Other members will be inspired by your achievement – and realize what huge opportunities One offers.</span><!--EndFragment-->
        </div>

        <p></p>

        <div class="clear">&nbsp;</div>
        <div class="alert alert-info ">
            <p style="text-align: center;"><a title="Sign Up" href="../../../user/signup" target="_self"><em><span
                    style="font-size: x-large;"><strong style="mso-bidi-font-weight: normal;">“Design your own
                future with ONE, sign up today”</strong></span></em></a></p>
        </div>
    </div>
</div>