<div id="products">
    <div class="container">
        <h3>Products</h3>

        <div class="row">


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Tycoon Trader</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/tycoontrader.png"
                                                             alt="Tycoon Trader">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 5000 EUR
                    </div>
                    <p>The tycoon trader package is the ultimate product package, it includes all the 5 levels of
                        the OneAcademy online education programme. This package is for those who want to bring their
                        trading skills to the top level and seriously profit from mining and trading OneCoins.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Executive Trader</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/executivetrader@2x.png"
                                                             alt="Executive Trader">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 3000 EUR
                    </div>
                    <p>The Executive Trader package include levels 1, 2, 3 and 4 of the OneAcademy online education
                        program. This package provides a detailed description of tools that will improve the
                        profitability of your trades significantly. </p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Pro Trader</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/protrader@2x.png"
                                                             alt="Pro Trader">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 1000 EUR
                    </div>
                    <p>The Pro Trader package includes levels 1, 2 and 3 of the OneAcademy online education program.
                        After completing these courses, you will achieve intermediate trading skills that can help
                        you profit from mining and trading OneCoins.</p>
                </div>
            </div>
            <div class="clear">&nbsp;</div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Trader</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/trader@2x.png"
                                                             alt="Trader">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 500 EUR
                    </div>
                    <p>The trader package includes both level 1 and level 2 of the OneAcademy online education
                        program. This package is for the people who wish to start learning about trading with asset
                        classes such as gold and cryptocurrency among others.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Starter</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/starter@2x.png"
                                                             alt="Starter">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 100 EUR
                    </div>
                    <p>The Starter includes the first level of the OneAcademy online education program. It is an
                        introduction to financial products and trading and provides the student with online reading
                        materials, video presentations, quizzes and certificate to start exploring the
                        OneExchange.</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Activation Kit</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/activation@2x.png"
                                                             alt="Activation Kit">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> 30 EUR
                    </div>
                    <p>The start-up kit secures your position in the company and gives you the right information to
                        get started with OneCoin, it also includes the e-book: The Richest Man in Babylon
                    </p>
                </div>
            </div>
            <div class="clear">&nbsp;</div>


            <div class="col-md-4">
                <div class="productBox">
                    <h5>Rookie</h5>

                    <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/rookie@2x.png"
                                                             alt="Rookie">
                                                    </span>
                    </div>
                    <div class="prodBoxPrice">
                        <span>Price:</span> Free
                    </div>
                    <p>The Rookie is a free package that includes information on OneCoin, the e-book: Think and Grow
                        Rich and a newsletter regarding the development of OneCoin.</p>
                </div>
            </div>
        </div>
    </div>
</div>
