<div class="panel-body">
    <a name="comments"></a>
    <ul>
      {{#each item in model itemController="comments/comment"}}
        {{render 'comments/comment' item}}
      {{/each}}
    </ul>
</div>
