<div class="panel-body">
    <a name="comments"></a>
    <ul>
      {{#each item in pagedContent}}
        {{render 'comments/comment' item}}
      {{/each}}
    </ul>

  {{#if showPagedBtm}}
    {{page-numbers content=pagedContent}}
  {{/if}}
</div>
