<div class="footer">
    <div class="container footer-content">
        <div class="row">
            <div class="col-md-2">
                <div class="copy_text"> 2015 © onecoin.im</div>
            </div>
            <div class="col-md-6">
                <div></div>
            </div>
            <div class="col-md-4">
                <ul id="footer-menu" class="pull-right">
                    <a href="/about">关于我们</a>
                </ul>
            </div>
        </div>
    </div>
</div>