<div class="footer">
    <div class="container footer-content">
        <div class="row">
            <div class="col-md-2  col-xs-5">
                <div class="copy_text"> 2015 © onecoin.im</div>
            </div>

            <div class="col-md-4  col-xs-5">
                <ul id="footer-menu" class="pull-right">
                    <a href="/about">关于我们</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom footerServiceBox" style="display:none">
    <div class="container">
        <div class="footerServiceDiv">
            <div class="service col-xs-9">
                <a href="tel:13700075611">
                    <div class="icon iconClass_1 faisco-icons-call1"></div>
                </a>
                <div class="describe">电话咨询</div>
            </div>
            <div class="service col-xs-9">
                <div id="showMoreQq" style="cursor:pointer">
                    <div class="icon iconClass_5 faisco-icons-qq1"></div>
                    <div class="describe">QQ客服</div>
                </div>
            </div>
        </div>
    </div>
</nav>