<div id="flash_text">
    <div class="container">
        <div id="row">
            <div class="col-md-12">
                <p style="text-align: center;">
                    <span style="font-size: xx-large;">
                        <em>
                            <strong>
                                <span style="font-family: Calibri;">
                                    维卡币操盘手——智慧操盘小助手
                                </span>
                            </strong>
                            <p>开源、开放、专业...</p>
                        </em>
                    </span>
                </p>

                <div class="flash_btn "><em>
                    <em>
                        <a class="btn btn-primary" href="/signup">免费注册，免费使用</a>
                    </em>
                </em></div>
                <em>
                </em></div>
            <em>
            </em></div>
        <em>
        </em></div>
    <em>
    </em>
</div>

<div class="background-inverse" id="notes">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/assets/images/note.jpg" alt="及时跟踪官网信息">
            </div>
            <div class="col-md-6 notes-content">
                <h3>追踪信息</h3>

                <p>
                    投资决策，信息很重要。官网以英文为主，使用各类翻译软件的翻译内容让人费解，更会给您带来不可估量的损失。我们专人负责翻译，
                    力争信息准确，传达及时...
                </p>
                <ol class="MsoNormal">
                    <li>
                        <b>官方通告：</b>跟踪翻译，即时发布，并提供英文原文。
                    </li>

                    <li>
                        <b>官方新闻：</b>不定期发布，提供原文截图。
                    </li>

                    <li>
                        <b>操作秘籍：</b>结合模拟点位、挖矿计算器等操作工具，撰写的一系列操盘文章...
                    </li>
                </ol>

                <p><a href="/blogs" class="pull-right">详情</a></p>
            </div>
        </div>
    </div>
</div>

<div class="background-inverse" id="tools">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tools-content">
                <h3>操盘工具</h3>

                <p class="edui-title">
                    问别人，不如求自己。投资绝不是拍脑门就决定的问题，要用工具说话，用数据指导。
                    我们会陆续推出一系列操盘助手...
                </p>
                <ol class="MsoNormal">
                    <li>
                        <b>帐号管理：</b>特别是发展团队的会员更需要，帮助会员设置科学、易记、安全的帐号与密码很重要，也显示出你的专业水准...
                    </li>

                    <li>
                        <b>模拟点位：</b>点位摆放将影响到你的奖金多少，这个工具将帮助你理解和学习点位设置技巧，你也可以用它来智能选择点位...
                    </li>

                    <li>
                        <b>挖矿计算器：</b>是自动挖矿？还是手动挖矿？到底哪个更合适，您自己算算就知道了...
                    </li>

                    <li>
                        <b>挖矿工具：</b>维卡币代码一旦开源，我们会第一时间发布挖矿工具和挖矿方法...
                    </li>
                </ol>
                <p>您还有什么需要？告诉我们吧，只要具备普遍性，我们就把它提供给您。</p>

                <p><a href="/tools" class="pull-right">详情</a></p>
            </div>

            <div class="col-md-6">
                <img src="/assets/images/tools.jpg" lt="丰富的操盘工具">
            </div>
        </div>
    </div>
</div>

<div class="background-inverse" id="opportunity">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/554x229_shutterstock.jpg"
                     alt="巨大的创富机会">
            </div>
            <div class="col-md-6">
                <h3>创富机会</h3>

                <p class="MsoNormal">
                    跟对团队、找对人。我们团队专业、开放、众多，与我们一起， 您即便是<b>静态投资</b>，也能获得丰厚的<b>动态收入</b>：
                </p>

                <ol>
                    <li>
                       <b>行内推广更简单：</b>“加密货币”是互联网产品，90%的互联网从业者对它都不陌生，我们团队成员更不例外，决定投资的最短时间是3个小时...
                    </li>

                    <li>
                        <b>专业对口更高级：</b>参与进来的人，都成为操盘手后台的重要力量，是操盘手得以壮大的动力所在...
                    </li>

                    <li>
                        <b>巨大吸引力：</b>除了具备比特币的特征外，维卡币第一次由专业公司进行专业运作，这也是操盘手想做的事情，因此具有不可估量的发展动力和前景...
                    </li>
                </ol>

                <p><a href="/pages/opportunity" class="pull-right">详情</a></p>
            </div>
        </div>
    </div>
</div>
