<!--<div id="becomeMember">-->
    <!--<div class="container">-->
        <!--<div class="col-md-5 col-md-offset-1"><h3 class="joinedPeople">Already joined</h3></div>-->
        <!--<div class="col-md-5 col-md-offset-1"><h3>Become A Member</h3></div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<div class="col-md-8 col-md-offset-2" id="joinedPeople">-->
                    <!--<div id="counter" class="flip-counter">-->
                        <!--<ul id="counter_d5" class="cd">-->
                            <!--<li style="background-position: 0px -39px;" class="t" id="counter_t_d5"></li>-->
                            <!--<li style="background-position: 0px -454px;" class="b" id="counter_b_d5"></li>-->
                        <!--</ul>-->
                        <!--<ul id="counter_d4" class="cd">-->
                            <!--<li style="background-position: 0px -117px;" class="t" id="counter_t_d4"></li>-->
                            <!--<li style="background-position: 0px -582px;" class="b" id="counter_b_d4"></li>-->
                        <!--</ul>-->
                        <!--<ul id="counter_d3" class="cd">-->
                            <!--<li style="background-position: 0px -234px;" class="t" id="counter_t_d3"></li>-->
                            <!--<li style="background-position: 0px -774px;" class="b" id="counter_b_d3"></li>-->
                        <!--</ul>-->
                        <!--<ul class="cd">-->
                            <!--<li class="s"></li>-->
                        <!--</ul>-->
                        <!--<ul id="counter_d2" class="cd">-->
                            <!--<li style="background-position: 0px -195px;" class="t" id="counter_t_d2"></li>-->
                            <!--<li style="background-position: 0px -710px;" class="b" id="counter_b_d2"></li>-->
                        <!--</ul>-->
                        <!--<ul id="counter_d1" class="cd">-->
                            <!--<li style="background-position: 0px -156px;" class="t" id="counter_t_d1"></li>-->
                            <!--<li style="background-position: 0px -646px;" class="b" id="counter_b_d1"></li>-->
                        <!--</ul>-->
                        <!--<ul id="counter_d0" class="cd">-->
                            <!--<li style="background-position: 0px -312px;" class="t" id="counter_t_d0"></li>-->
                            <!--<li style="background-position: 0px -902px;" class="b" id="counter_b_d0"></li>-->
                        <!--</ul>-->
                        <!--&nbsp;</div>-->
                    <!--<div class="clear"></div>-->
                    <!--<p class="numPeopleText"></p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="col-md-6 col-md-offset-2 signUpBox">-->
                    <!--<a href="/user/signup" class="btn btn-info signUpBtn">Sign up</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<div class="col-md-12 col-md-offset-1" id="">-->
                    <!--<h3 class="joinedPeople">OneCoins Mined</h3>-->

                    <!--<div id="coinMinedTicker" class="coin-mined-ticker flip-counter">-->
                        <!--<ul id="coinMinedTicker_d7" class="cd">-->
                            <!--<li style="background-position: 0px -312px;" class="t" id="coinMinedTicker_t_d7"></li>-->
                            <!--<li style="background-position: 0px -902px;" class="b" id="coinMinedTicker_b_d7"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d6" class="cd">-->
                            <!--<li style="background-position: 0px -195px;" class="t" id="coinMinedTicker_t_d6"></li>-->
                            <!--<li style="background-position: 0px -710px;" class="b" id="coinMinedTicker_b_d6"></li>-->
                        <!--</ul>-->
                        <!--<ul class="cd">-->
                            <!--<li class="s"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d5" class="cd">-->
                            <!--<li style="background-position: 0px -195px;" class="t" id="coinMinedTicker_t_d5"></li>-->
                            <!--<li style="background-position: 0px -710px;" class="b" id="coinMinedTicker_b_d5"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d4" class="cd">-->
                            <!--<li style="background-position: 0px -312px;" class="t" id="coinMinedTicker_t_d4"></li>-->
                            <!--<li style="background-position: 0px -902px;" class="b" id="coinMinedTicker_b_d4"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d3" class="cd">-->
                            <!--<li style="background-position: 0px 0px;" class="t" id="coinMinedTicker_t_d3"></li>-->
                            <!--<li style="background-position: 0px -390px;" class="b" id="coinMinedTicker_b_d3"></li>-->
                        <!--</ul>-->
                        <!--<ul class="cd">-->
                            <!--<li class="s"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d2" class="cd">-->
                            <!--<li style="background-position: 0px 0px;" class="t" id="coinMinedTicker_t_d2"></li>-->
                            <!--<li style="background-position: 0px -390px;" class="b" id="coinMinedTicker_b_d2"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d1" class="cd">-->
                            <!--<li style="background-position: 0px 0px;" class="t" id="coinMinedTicker_t_d1"></li>-->
                            <!--<li style="background-position: 0px -390px;" class="b" id="coinMinedTicker_b_d1"></li>-->
                        <!--</ul>-->
                        <!--<ul id="coinMinedTicker_d0" class="cd">-->
                            <!--<li style="background-position: 0px 0px;" class="t" id="coinMinedTicker_t_d0"></li>-->
                            <!--<li style="background-position: 0px -390px;" class="b" id="coinMinedTicker_b_d0"></li>-->
                        <!--</ul>-->
                        <!--&nbsp;</div>-->
                <!--</div>-->
                <!--<script type="text/javascript">-->
                    <!--$(function () {-->
                        <!--var coinMinedTicker = new flipCounter('coinMinedTicker', {inc: 9, pace: 943, auto: false});-->

                        <!--function coinMinedPolling() {-->
                            <!--$.post('/tech/other/getCoinsMined/', function (response) {-->
                                <!--coinMinedTicker.setValue(parseInt(response));-->
                                <!--setTimeout(coinMinedPolling, 10000);-->
                            <!--});-->
                        <!--}-->

                        <!--coinMinedPolling();-->
<!--//							$("#coinMinedTicker ul").eq(6).after("<ul class='cd'><li class='s sep'>&nbsp;</li></ul>");-->

                    <!--});-->
                <!--</script>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="flash_text">
    <div class="container">
        <div id="row">
            <div class="col-md-12">
                <p style="text-align: center;">
                    <span style="font-size: xx-large;">
                        <em>
                            <strong>
                                <span style="font-family: Calibri;">Learn the secrets of trading, investing and profiting from crypto-currency</span>
                            </strong>
                        </em></span></p>

                <div class="flash_btn "><em>
                    <em>
                        <a class="btn btn-primary" href="http://www.onecoin.eu/user/signup">Sign up now</a>
                    </em>
                </em></div>
                <em>
                </em></div>
            <em>
            </em></div>
        <em>
        </em></div>
    <em>
    </em>
</div>
<em>
    <div id="products">
        <div class="container">
            <h3>Products</h3>

            <div class="row">


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Tycoon Trader</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/tycoontrader.png"
                                                             alt="Tycoon Trader">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 5000 EUR
                        </div>
                        <p>The tycoon trader package is the ultimate product package, it includes all the 5 levels of
                            the OneAcademy online education programme. This package is for those who want to bring their
                            trading skills to the top level and seriously profit from mining and trading OneCoins.</p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Executive Trader</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/executivetrader@2x.png"
                                                             alt="Executive Trader">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 3000 EUR
                        </div>
                        <p>The Executive Trader package include levels 1, 2, 3 and 4 of the OneAcademy online education
                            program. This package provides a detailed description of tools that will improve the
                            profitability of your trades significantly. </p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Pro Trader</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/protrader@2x.png"
                                                             alt="Pro Trader">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 1000 EUR
                        </div>
                        <p>The Pro Trader package includes levels 1, 2 and 3 of the OneAcademy online education program.
                            After completing these courses, you will achieve intermediate trading skills that can help
                            you profit from mining and trading OneCoins.</p>
                    </div>
                </div>
                <div class="clear">&nbsp;</div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Trader</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/trader@2x.png"
                                                             alt="Trader">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 500 EUR
                        </div>
                        <p>The trader package includes both level 1 and level 2 of the OneAcademy online education
                            program. This package is for the people who wish to start learning about trading with asset
                            classes such as gold and cryptocurrency among others.</p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Starter</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/starter@2x.png"
                                                             alt="Starter">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 100 EUR
                        </div>
                        <p>The Starter includes the first level of the OneAcademy online education program. It is an
                            introduction to financial products and trading and provides the student with online reading
                            materials, video presentations, quizzes and certificate to start exploring the
                            OneExchange.</p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Activation Kit</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/activation@2x.png"
                                                             alt="Activation Kit">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> 30 EUR
                        </div>
                        <p>The start-up kit secures your position in the company and gives you the right information to
                            get started with OneCoin, it also includes the e-book: The Richest Man in Babylon
                        </p>
                    </div>
                </div>
                <div class="clear">&nbsp;</div>


                <div class="col-md-4">
                    <div class="productBox">
                        <h5>Rookie</h5>

                        <div class="prodBoxImg">
                                                    <span class="thumbnail">
                                                        <img src="/assets/images/rookie@2x.png"
                                                             alt="Rookie">
                                                    </span>
                        </div>
                        <div class="prodBoxPrice">
                            <span>Price:</span> Free
                        </div>
                        <p>The Rookie is a free package that includes information on OneCoin, the e-book: Think and Grow
                            Rich and a newsletter regarding the development of OneCoin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</em>

<div class="background-inverse" id="opportunity">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/assets/images/554x229_shutterstock.jpg"
                                       alt="A powerful Opportunity"></div>
            <div class="col-md-6">
                <h3>A powerful Opportunity</h3>

                <p class="MsoNormal"><span style="color: #393c40; font-size: medium; line-height: 23px;">OneCoin provides a once in a lifetime opportunity, revolutionizing the business world of todays digital economy. The OneCoin concept is born out of the success of the pioneering cryptocurrency, Bitcoin.&nbsp;</span><span
                        style="color: #393c40; font-size: medium; line-height: 23px;">It all started back in 2009 when a new digital currency was introduced to the internet and financial world. Only in 2013 this currency has seen a 75 times increase in its starting price. It started at a price of only 0.10 USD per coin and has been traded for over 1.100 USD per coin.</span><span
                        style="color: #393c40; font-size: medium; line-height: 23px;">&nbsp;</span></p>

                <p><a href="/page/details/opportunity" class="pull-right">See more</a></p>
            </div>
        </div>
    </div>
</div>
